.signUp-container{
    margin: 4rem 6rem;
    color: #2a2a2a;
}
.signUp-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    align-items: center;
    text-align: start;
}

.signUp-container input{
    height: 3rem;
    width: 50%;
    padding: 0 1rem ;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.signUp-container button{
    display: inline;
    width: 25%;
}
@media screen and (max-width:850px){
    .signUp-container{
        margin: 4rem 2rem;
    }
    .signUp-container form{
        padding-top: 2rem;
        width: 90%;
    }

}